body {
  background: linear-gradient(90deg, #00a2ff 10%, #43c7ff 90%);
}

#home-container {
  margin-top: 100px;
  max-width: 1290px;
}

.nav-element {
  width: 150px;
  height: 32px;
  line-height: 32px;
}

a {
  text-decoration: none;
  color: black;
}

#logo {
  text-align: center;
  margin-left: 5px;
}

#page-title {
  text-align: center;
}

#profile {
  margin-left: 105px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

#deck-controls {
  border: 1px solid white;
  border-radius: 5px;
  width: 60px;
  height: 168px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.square-btn-background {
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.square-btn-background:hover {
  background-color: #e9f7ff;
}

.square-btn-background:hover,
.rectangle-btn:hover,
.deck:hover,
.card-side-panel:hover,
#define:hover,
#translate:hover,
#audio-btn:hover {
  cursor: pointer;
}

#define:hover,
#translate:hover {
  background-color: #0e5ed7;
}

.square-btn-background img {
  width: 25px;
  height: 25px;
}

.rectangle-btn {
  width: 140px;
  height: 50px;
  border-radius: 7px;
  background-color: white;
  color: #256efd;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

#card-controls .rectangle-btn {
  margin-top: 0px;
  width: 130px;
  height: 45px;
  line-height: 45px;
}

.deck {
  border-radius: 5px;
  height: 168px;
  min-width: 290px;
  background-color: white;
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
  line-height: 168px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.deck:hover {
  transform: scale(1.03);
}

.placeholder {
  width: 290px;
  margin-bottom: 30px;
}

#decks-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  height: 88vh;
  overflow: scroll;
}

#revision-view {
  max-width: 850px;
  margin: 0 auto;
  margin-top: 120px;
  height: min(450px, 45vw);
  background-color: white;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#preferences {
  max-width: 850px;
  margin: 0 auto;
  margin-top: 120px;
  height: min(550px, 45vw);
  background-color: white;
  border-radius: 5px;
}

#preferences-container {
  height: min(400px, 45vw);
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}

#card-main-panel {
  max-width: 850px;
  margin: 0 auto;
  padding-top: 2%;
  height: 0px;
  height: min(450px, 45vw);
  background-color: white;
  border-radius: 5px;
}

#side-panel {
  height: 85vh;
  overflow: scroll;
}

.card-side-panel {
  max-width: 240px;
  margin-left: auto;
  margin-right: 0px;
  height: min(140px, 15vw);
  background-color: white;
  border-radius: 5px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#deck-cards-container {
  max-width: 1290px;
  margin-top: 100px;
}

#card-controls {
  border: 1px solid white;
  width: 350px;
  height: 60px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#define-translate-container {
  height: 20%;
  width: 100%;
}

#define-translate-checks-container {
  width: 385px;
  height: 50px;
  display: flex;
  align-items: center;
  float: right;
}

#define-check,
#translate-check,
#pronounce-check {
  margin-right: 5px;
  margin-left: 5px;
}

#translate-check,
#pronounce-check {
  margin-left: 10px;
}

#card-front,
#card-back {
  height: 80%;
  overflow: scroll;
}

#card-back {
  height: 95%;
}

#define,
#translate {
  background-color: #256efd;
  width: 80px;
  border-radius: 5px;
  text-align: center;
  float: right;
  margin-right: 5px;
  height: 29px;
  line-height: 29px;
  color: white;
  font-size: 16px;
}

.translate-define-checks {
  float: right;
}

#define {
  margin-right: 25px;
}

#language,
#language2 {
  width: 100px;
  float: right;
  margin-right: 5px;
  margin-top: 2px;
  margin-left: 5px;
}

#default-language {
  width: 90px;
  margin-right: 5px;
  margin-top: 2px;
  margin-left: 15px;
}

#language:focus {
  outline: none;
}

#card-add-multiple img {
  width: 35px;
  height: 35px;
}

#add-multiple-input {
  border: none;
  width: 99%;
  height: 65%;
  overflow: scroll;
}

#add-multiple-input:focus {
  outline: none;
}

div:focus {
  outline: none;
}

#front-container,
#back-container {
  border: 2px solid #256efd;
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
  padding-left: 7px;
}

#front-container {
  margin-bottom: 3%;
  height: 40%;
  padding-top: 10px;
}

#back-container {
  height: 50%;
  padding-top: 5px;
}

#add-multiple-container {
  border: 2px solid #256efd;
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
  padding-left: 7px;
  height: 96%;
}

#audio-btn img {
  width: 25px;
  height: 25px;
}

.form-name,
.form-type,
.form-back-field {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.form-name > * {
  margin-right: 15px;
}

#generate-deck-name,
#edit-deck-name {
  width: 295px;
}

.form-type > *,
.form-back-field > * {
  margin-right: 22px;
}

.form-back-field {
  margin-top: 13px;
}

#number-of-cards,
#revision-style {
  font-weight: bold;
}

#save-changes,
#cancel {
  background-color: #00b2ff;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  margin-right: 5px;
  height: 35px;
  line-height: 35px;
  color: white;
  font-size: 18px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#save-changes {
  width: 150px;
}

.modal-footer button {
  width: 180px;
}

.modal-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.modal-icon {
  width: 30px;
  padding-left: 0;
  padding-right: 0;
}

.modal-icon > img,
#modal-close > img {
  width: 20px;
  height: 20px;
}

#edit-delete-container {
  width: 350px;
  margin-left: 5px;
}

#modal-close {
  background-color: white;
  border: none;
}

.slider {
  position: absolute;
  width: 0;
  transition: all 0.5s 0.3s ease;
}

.selected-card {
  background-color: #d4efff;
}

.cancel-btn {
  color: white;
  background-color: #6c757d;
}

.cancel-btn:hover {
  background-color: #5c636a;
}

.confirm-btn {
  color: white;
  background-color: #126efd;
}

.confirm-btn:hover {
  background-color: #0e5ed7;
}

#auth-container {
  padding-left: 23px;
  padding-right: 23px;
  width: 350px;
  height: 530px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#auth-container label {
  font-weight: bold;
}

#auth-container img {
  padding-top: 20px;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
  width: 150px;
}

#username,
#password {
  width: 300px;
  border: 1px solid black;
  height: 35px;
  border-radius: 5px;
  border-color: #126efd;
  padding-left: 5px;
}

#register-btn,
#signin-btn {
  background-color: #126efd;
  color: white;
  width: 200px;
  height: 40px;
  line-height: 40px;
}

#register-btn:hover,
#signin-btn:hover {
  background-color: #00a2ff;
}

.alt-link {
  margin-top: 5px;
  text-align: center;
  font-size: 15px;
}

#signin-link,
#register-link {
  text-decoration: underline;
  color: #126efd;
}

#signin-link:hover,
#register-link:hover {
  cursor: pointer;
}

.alert {
  margin-top: 48px;
}

#auth-error {
  color: red;
  text-align: center;
}

nav {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
}
