<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Register</title>
  </head>

<body>

  <nav class="navbar navbar-light bg-light nav-fill w-80 fixed-top">
    <div id="back" class="navElement">
      <a href="#">
        <img width="30" height="30" src="../static/images/back.png">
        VocabCards
      </a>
    </div>

    <div id="page-title" class="navElement">
      <header>PageName</header>
    </div>

    <div class="nav-element">
      <a href="#">
        <img id="profile" src="../static/images/profile.png">
      </a>
    </div>
  </nav>

  <div class="container-fluid">
    <div id="revision-view" class="col-10 col-sm-9">
      <div id="card-text" class="align-middle"></div>
    </div>
  
    <div id="show-answer" class="rectangle-btn">
        Show Answer
    </div>
  </div>
 
  <script src="../static/js/revision.js"></script>
</body>
</html>